* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Open Sans", sans-serif;
}
/*----------COMMON-----------*/
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
.container {
    width: 80%;
    margin: auto;
}
/*------layout*------*/
.col {
    float: left;
}
.col-float-right {
    float: right;
}
.col-50 {
    width: 50%;
}
.jumbo-col-text {
    width: 30%;
}
.jumbo-col-img {
    width: 65%;
}
/*------images------*/
img {
    width: 100%;
}
/*------buttons-----*/
.btn {
    display: inline-block;
    text-decoration: none;
    line-height: normal;
}
.btn-small {
    padding: 7px 18px;
    font-size: 13px;
}

.btn-back-blue {
    background-color: #0061ff;
}
.btn-back-blue:hover {
    background-color: #3c84ff;
}
.jumbo-col-text .btn-back-blue {
    padding: 9px 25px;
}



/*----------HEADER-----------*/
header {
    padding: 0 20px;
    font-size: 15px;
    background-color: white;
    height: 70px;
    line-height: 70px;
    width: 100%;
    top: 0;
    right: 0;
    position: fixed;
}
/*-----logo----*/
.dropbox-logo {
    padding-right: 20px;
}
.dropbox-logo img {
    width: 120px;
    vertical-align: middle;
}
/*----header-menu----*/
.menu ul {
    list-style-type: none;
    
}
.menu li {
    display: inline-block;
    vertical-align: middle;
    padding: 0 20px;
}
.menu a {
    display: inline-block;
    text-decoration: none;
    color: black;
}
.menu a:hover {
    border-bottom: 2px solid black;
}
.menu li:last-child {
    padding-right: 0;
}
.right-header li:last-child a {
    color: white;
}
.right-header li:last-child a:hover {
    border-bottom: none;
}


/*----------------------MAIN--------------------*/
/*jumbotron*/
.jumbotron {
    background-color: #b4d0e7;
    padding-top: 70px;
    padding-bottom: 350px;
}
.jumbotron-content {
    padding: 100px 0;
}
.jumbotron-content h1 {
    font-size: 83px;
    line-height: 110px;
    padding-bottom: 35px;
}
.jumbo-col-text {
    margin-right: 5%;
    font-size: 18px;
    line-height: 24px;
}
.jumbo-col-text a {
    color: white;
    font-size: 18px;
}
.jumbo-col-text p {
    padding-bottom: 30px;
}
.jumbo-col-text div {
    padding-top: 10px;
    font-size: 16px;
}
.jumbo-col-text i {
    font-size: 45px;
    padding-top: 40px;
    
}